// Sizes
$base-font-size: 16px;
$ratio: 1.414;
$container: 1440px;
$site-width: 1440px;
// Fonts
$primary-family: 'Great Vibes',
cursive;
$secondary-family: 'Merriweather Sans',
sans-serif;
$tertiary-family: 'Montserrat',
sans-serif;
// Media Queries
$tablet-width: 1024px;
$phone-width: 767px;
$phone-width-small: 400px;
$header-width: 960px;
$desktop-small-width: 1250px;
$desktop: 'screen and (max-width: #{$container})';
$desktop-small: 'screen and (max-width: #{$desktop-small-width})';
$tablet: 'screen and (max-width: #{$tablet-width})';
$phone: 'screen and (max-width: #{$phone-width})';
$phone-small: 'screen and (max-width: #{$phone-width-small})';
$header: 'screen and (max-width: #{$header-width})';
// Transition
$transition: all 0.25s ease-in;
//color
$primary :#DFF6FF;
$secondary :#47B5FF;
$tertiary: #256D85;
$alt: #06283D;
$white: #ffffff;
$black: #000000;
// Set the box sizing
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none;
    -webkit-overflow-scrolling: touch;
}

// Overflow hidden on body
html {
    overflow-x: hidden;
}

// Reset everything
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul,
ol {
    margin: 0;
    padding: 0;
}

input,
button {
    outline: none;
    border-radius: 0;
    border: 0;
    margin: 0;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

// clearfix class   
.clear {
    clear: both;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: $container;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: $base-font-size;
    line-height: 1.375;
    color: #000000;
}

a {
    text-decoration: none;
    transition: .3s;
    &:focus,
    &:active {
        outline: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    .video-js,
    >iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.accessible-text,
.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

//HTML Starts here
body {
    text-align: center;
    color: $alt;
}

.intro {
    background: $primary;
    .container {
        position: relative;
        padding-top: 100px;
    }
}

.intro__subHeading {
    font-family: $tertiary-family;
    font-size: 2.5rem;
    font-weight: 400;
    color: $secondary;
    @media #{$phone} {
        font-size: 2rem;
    }
}

.intro__heading {
    font-size: 5.625rem;
    margin: 0 auto;
    font-family: $primary-family;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 20px;
    color: $tertiary;
    @media #{$phone} {
        font-size: 3.25rem;
    }
}

.pro {
    text-decoration: underline;
}

.intro__top-cloud {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 200px;
    @media #{$desktop-small} {
        right: 0px;
        width: 150px;
    }
    @media #{$phone} {
        width: 100px;
    }
}

.intro__top-sun {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 150px;
    @media #{$desktop-small} {
        left: 100px;
    }
    @media #{$phone} {
        left: 30px;
        width: 50px;
    }
}

.intro__bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 400px;
    width: 200px;
    @media #{$desktop-small} {
        left: 100px;
        width: 150px;
    }
    @media #{$phone} {
        width: 50px;
        left: 50px;
        bottom: 100px;
    }
}

.intro__mountain {
    position: relative;
    top: 129px;
    @media #{$phone} {
        width: 210px;
        top: 0;
    }
}

.grid-list {
    .container {
        width: 50%;
        @media #{$phone} {
            width: 100%;
        }
        margin: 0 auto;
        .grid-list__row {
            margin: 100px auto;
            text-align: left;
            font-size: 1.8rem;
            color: $alt;
            font-family: $tertiary-family;
            line-height: 1.5;
            @media #{$desktop-small} {
                text-align: center;
                font-size: 1.4rem;
                margin: 50px auto;
            }
            .grid-list__head {
                color: $tertiary;
                font-family: $secondary-family;
                font-weight: 600;
                line-height: 1.7;
                margin-bottom: 20px;
            }
            .grid-list__img {
                margin-bottom: 20px;
                width: 25%;
                float: left;
                margin-right: 30px;
                img {
                    width: 100%;
                }
                @media #{$desktop-small} {
                    float: none;
                    width: 100%;
                    margin-right: 0px;
                }
            }
            .grid-list__img--right {
                float: right;
                margin-left: 30px;
                margin-right: 0;
                @media #{$desktop-small} {
                    float: none;
                    margin-left: 0px;
                }
            }
        }
    }
}

.profile__content {
    margin: 100px auto;
    width: 50%;
    font-family: $tertiary-family;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
    @media #{$phone} {
        width: 100%;
        font-size: 1.4rem;
        margin: 50px auto;
    }
}

.profile__img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 50px auto;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}

.profile__text,
.grid-list__title,
.contact__title {
    color: $tertiary;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: $secondary-family;
}

hr {
    border-color: $alt;
    border-width: 5px;
    height: 0px;
    border-style: dotted none none;
    width: 2.5%;
    margin: 0 auto;
    margin-bottom: 100px;
    @media #{$phone} {
        margin-bottom: 50px;
    }
}

.contact {
    .container {
        margin: 0 auto;
        width: 50%;
        color: $tertiary;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: $tertiary-family;
        @media #{$desktop-small} {
            width: 100%;
            font-size: 1.4rem;
        }
    }
}

.contact__button {
    margin: 50px auto;
    @media #{$phone} {
        margin: 25px auto;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $secondary-family;
    padding: 10px;
    margin-top: 100px;
    background-color: $tertiary;
    color: $white;
    border-radius: 5px;
    &:hover {
        background-color: $alt;
    }
    @media #{$phone} {
        padding: 10px;
        font-size: 1.2rem;
    }
}

.contact__sub-title {
    font-weight: 600;
    margin: 30px auto;
}

.footer {
    background-color: $alt;
    padding: 50px;
    color: $primary;
    font-size: 1rem;
    font-family: $secondary-family;
}

.footer__links {
    margin-bottom: 30px;
}

.footer__link {
    color: $primary;
    padding: 20px;
    margin: 20px;
    font-family: $secondary-family;
    font-weight: 600;
    font-size: 1.1rem;
    &:hover {
        color: $secondary;
    }
    @media #{$phone} {
        padding: 5px;
        margin: 5px;
    }
}

.button {
    margin: 30px;
    width: 100px;
    height: 100px;
    position: relative;
}

.button::after {
    content: " ";
    background-color: #333;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: skewX(-45deg);
    transform-origin: top;
}

.button::before {
    content: " ";
    background-color: #333;
    height: 100%;
    width: 10px;
    position: absolute;
    left: -10px;
    bottom: 0;
    transform: skewY(-45deg);
    transform-origin: right;
}

.contact__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.icon {
    font-size: 30px;
    color: white;
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $tertiary;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.button:hover span:nth-child(5) {
    transform: translate(50px, -50px);
}

.button:hover span:nth-child(4) {
    transform: translate(40px, -40px);
    opacity: 0.8;
}

.button:hover span:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: 0.6;
}

.button:hover span:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: 0.4;
}

.button:hover span:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: 0.2;
}

.button:nth-child(1):hover span {
    background-color: #e95950;
}

.button:nth-child(2):hover span {
    background-color: #0072b1;
}

.button:nth-child(3):hover span {
    background-color: #6e5494;
}