/*!
Theme : Tradengine.biz
Theme URI: 
Author: Last Door Solutions
Author URL: http://lastdoorsolutions.com/
Description: Custom theme developed for travelmax
Version:      1.0.0
*/

@import 'css/libs/**/*.scss';

@import "css/global/**/*.scss";

@import "css/partials/**/*.scss";

@import "css/modules/**/*.scss";

@import "css/templates/**/*.scss";